body {
    background: linear-gradient(to bottom right, #EBE1DF, #AFA789);
}

#header {
    height:15%;
    display:block;
    background-color:#F2F0D7;
    border-radius:5px;
    margin-top:-10px;
    text-align:center;
    margin-bottom:20px;
}

h1 {
    font-family:Papyrus;
    margin:auto;
    
}

form {
    float:left;
    border:solid black;
    padding: 5px;
    font-family:Baskerville;
    position: relative;
    top: 190px;
    clear: both;
    border-radius: 5px;
    margin-left: 50px;
}

#images {
    float:right;
    padding: 5px;
    position:relative;
    right:60px;
    bottom: 7px;
}

#dice {
  margin-bottom: -20px;
}

#guessbox {
  display: inline;
  border: solid black;
  position: absolute;
  border-radius: 5px;
  padding-right: 30px;
  margin-left: 50px;

}

#guess{
  position: relative;
  bottom: 4em;
  
}
.roll {
}

.startover{
  position: relative;
  float: right;
}

.adopt {
  position: relative;
  float: right;
}

#remain {
  position: relative; 
  left:38%;
  top: 40px;

} 